
{include file="inc/header.html"}

<!-- 标题 -->
<div class="article-header">
    <div class="center-block w1200">
        <h1>供应商类别列表</h1>

        <div class="btn-wrap pull-right tar">
            <a code="scm:button:purchase:supplierType:add" function="$.doForward" args="{url:'?ctl=supplier&act=supplier_cate_add'}" class="btn-link ml10" id="btn-create">创建</a>
        </div>
    </div>
</div>
<div class="center-block panel-group mt20">
    <!-- 左栏 start -->
    <div class="aside">
        <form action="" id="queryConditions" method="post" autocomplete="off">
            <!-- 模糊查询 start -->
            <div class="aside-column panel-search">
                <h2>模糊查询</h2>

                <div class="search-box">
                    <input type="text" name="supplierCateCode" id="supplierCateCode" class="form-control"
                           placeholder="请输入供应商类别编码" data-format="code" maxlength="8">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                </div>
                <div class="search-box mt10">
                    <input type="text" name="supplierCateName" id="supplierCateName" class="form-control"
                           placeholder="请输入供应商类别名称" maxlength="48"
                           data-format="name"
                    >
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                </div>
            </div>
            <!-- 模糊查询 end -->
            <!-- 状态 start -->
            <div class="aside-column">
                <h2>状态</h2>
                <ul class="panel-list-type">
                    <li><label class="checkbox checkbox-check" for="status-1"><span></span><input type="checkbox"
                                                                                                  name="isDisable"
                                                                                                  id="status-1" checked value="0">启用</label>
                    </li>
                    <li><label class="checkbox checkbox-check" for="status-2"><span></span><input type="checkbox" name="isDisable"
                                                                                   id="status-2" value="1">停用</label></li>

                </ul>
            </div>
            <!-- 状态 end -->
            <a class="link undo-all" id="undo-all">全部撤销</a>
            <a class="btn-blue btn-search" role="button"
               function="$.doSearch" args="{dataGridId:grid}">查 询</a>
        </form>
    </div>
    <!-- 左栏 end -->
    <!-- 右栏 start -->
    <div class="panel main">
        <div class="panel-body">
            <!-- grid start -->
            <table id="grid"></table>
            <div id="gridPager"></div>
            <!-- grid end -->
        </div>
        <!-- 右栏 end -->
    </div>
</div>
<script type="text/javascript" src="/app/Tpl/kiz/js/scm_kry/js/template.min.js"></script>
<script type="text/javascript" src="/app/Tpl/kiz/js/scm_kry/js/scm-msg.js?v=20170406_201331"></script>
<script src="/app/Tpl/kiz/js/scm_kry/js/supplier/suppliercate.js?v=20170406_201331"></script>
<!-- 添加通用js引入信息 -->

<script type="text/javascript">
    $(function () {

        supplierCate._init('0');
    });

</script>

<script id="messageTemplate" type="text/html">
    <div class="message-box">
        <div class="hint">{{hint}}</div>
        <div class="btns">
            <button id="layerConfirm" class="btn btn-primary">确&nbsp;&nbsp;定</button>
            {{if confirm}}
            <button id="layerClose">取&nbsp;&nbsp;消</button>
            {{/if}}
        </div>
        {{if showDetail}}
        <div class="hide-hint">
            <span style="cursor: pointer;" id="hidHint">隐藏详情></span>
        </div>
        <div class="data-hint">{{dataHint}}</div>
        <div class="datas">

            {{if showBills}}
            <table class="bills">
                {{each dataList}}
                <tr>
                    <td>{{$value.supplierCode}}</td>
                    {{if !$value.isDisable}}
                    <td>{{$value.supplierName}}</td>
                    {{/if}}
                    {{if $value.isDisable}}
                    <td>{{$value.supplierName}}<font color="red">(已停用)</font></td>
                    {{/if}}
                </tr>
                {{/each}}
            </table>
            {{/if}}
        </div>
        {{/if}}
    </div>
</script>
{include file="inc/footer.html"}

</body>
</html>