@font-face {
    font-family: 'iconfont';
    src: url('//at.alicdn.com/t/font_1468808233_02113.eot'); /* IE9*/
    src: url('//at.alicdn.com/t/font_1468808233_02113.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//at.alicdn.com/t/font_1468808233_02113.woff') format('woff'), /* chrome、firefox */
    url('//at.alicdn.com/t/font_1468808233_02113.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/font_1468808233_02113.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont{
    font-family: "iconfont";
    font-size: 16px;
    font-style: normal;
    position: relative;
}
.iconfont.exclamation:before{
    content: '\e603';
}
.iconfont.question:before{
    content: '\e606';
    font-weight: bold;
}
.iconfont.download:before{
    content: '\e602';
}
.iconfont.print:before{
    content: '\e601';
}
.iconfont.loading:before{
    content: '\e604';
}
.iconfont.loading{
    display:inline-block;
    animation:loading 2s linear infinite;
    color:white;
    position: absolute;
    left: 50%;
    margin-left: -12px;
    top: 50%;
    margin-top: -16px;
    visibility:hidden;
}
.iconfont.icon-h {
    font-size: 40px;
}
.iconfont.icon-b {
    font-size: 24px;
}
.iconfont.icon-s {
    font-size: 12px;
}
.color-b {
    color: #3994EC;
}
.color-g {
    color: #808080;
}
.color-w {
    color: #FFFFFF;
}
.tooltip-box {
    background-color: white;
    position: absolute !important;
    width: 200px;
    border: 1px solid #ccc;
    padding: 20px 10px;
    border-radius: 10px;
    z-index: 1040;
    box-shadow: 0 0 5px #ccc;
    box-sizing: content-box;
    display: none;
    color: rgb(140, 139, 139);
    font-size: 12px !important;
    line-height: 20px !important;
    text-align: center;
    font-weight: bold;
    overflow: visible !important;
    white-space: normal;
    height: initial !important;
}
.tooltip-triangle{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #ccc;
    border-top-color: white;
    border-left-color: white;
    transform: rotate(45deg);
    z-index: 1040;
    background-color: white;
    box-shadow: 1px 1px 1px #ccc;
    display: none;
}
.tooltip-triangle.down{
    transform: rotate(225deg);
}
/*.tooltip-box:after {*/
/*content: '';*/
/*position: absolute;*/
/*width: 15px;*/
/*height: 15px;*/
/*border: 1px solid #ccc;*/
/*border-top-color: white;*/
/*border-left-color: white;*/
/*top: 100%;*/
/*left: 50%;*/
/*margin-left: -10px;*/
/*transform: rotate(45deg);*/
/*margin-top: -7px;*/
/*z-index: 999;*/
/*background-color: white;*/
/*box-shadow: 1px 1px 1px #ccc;*/
/*}*/
@keyframes loading{
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}